/* ***** MOBILE ***** */

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 150px auto;
}

header {
    height: 100%;
    position: relative;
    background-image: url('./slider/anniversary-beautiful-birthday-433527.jpg');
    background-size: cover;
    background-position: center;
}

.carousel {
    height: 100%;
    display: none;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
     height: 100%;
     background-size: cover;
     background-position: 50%;
}

.mainHeading {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
    letter-spacing: 5px;
    
    /* display: none; */
}

.mainHeading h1 {
    font-family: 'Alex Brush', cursive;
    font-size: 4em;
}

 section {
    display: grid;
}

section {
    display: grid;

}